.w50 { 
	width: 50%;
}

div.round-row div.round-cell {
	float: left;
}	

	div.round-row div.round-cell div.round-container {
		background-color: #F0F0F0;
		border: 1px solid #ccc;
		padding: 20px;
	}	
	
		div.round-row div.round-cell div.round-container a {
			color: #06A6C0;
		}	

		div.round-row div.round-cell div.round-container-common {
			margin: 0 0 0 10px;
		}	

		div.round-row div.round-cell div.round-container-first {
			margin: 0;
		}	

